<%-include('layouts/header.ejs')%>

<div class="container-fluid">
    <h2>User Profile</h2>
    <img src="/img/user1.png" alt="User Image">
    <h3>Name: <%= user.Fullname%></h3>
    <h3>Email: <%= user.Email%></h3>
</div>

<%-include('layouts/footer.ejs')%>
